<table class="table">
	<thead class="table__header">
		<th class="table__header__content">Valor</th>
		<th class="table__header__content">Destino</th>
		<th class="table__header__content">Data</th>
	</thead>
	<tbody *ngIf="listTransference?.length > 0; else noRecords">
		<tr class="table__row" *ngFor="let transference of listTransference">
			<td class="table__content">{{ transference?.valor | currency }}</td>
			<td class="table__content">{{ transference?.destino }}</td>
			<td class="table__content">{{ transference?.data | date:'short' }}</td>
		</tr>
	</tbody>
</table>

<ng-template #noRecords>
	<p>Nenhum registro</p>
</ng-template>
