<section class="container">
	<form class="form" (ngSubmit)="transfer()">
		<h2 class="form-title">Nova Transferência</h2>

		<div class="form-field">
			<label class="form-field-label" for="valor">Valor</label>
			<input class="form-field-input" id="valor" type="text" name="valor" [(ngModel)]="valor">
		</div>

		<div class="form-field">
			<label class="form-field-label" for="destino">Destino</label>
			<input class="form-field-input" id="destino" type="text" name="destino" [(ngModel)]="destino">
		</div>

		<div class="button-wrapper">
			<button class="button" type="submit">Transferir</button>
		</div>
	</form>
</section>
